@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Western Cowboys';
  src: url('../assets/fonts/Western_Cowboys.otf') format('truetype');
}

h1, .h1 {
  font-family: 'Poppins';
  font-weight: 900!important;
}
h6, strong, b, p, li, a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400!important;
}
h3,h4,h5,h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}