.gallerie {
    
    width: 100%;
    padding: 50px 0;
    position: relative;

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 500px;
        max-height: 300px;
        position: relative;
        overflow-y: scroll;

        @media (max-width: 769px) {
            width: 300px;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}