.gallerie {
    
    width: 100%;
    padding: 50px 0;
    position: relative;

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 80%;
        height: auto;
        position: relative;

        img {
            display: block;
            width: 100%;
        }
    }
}