html {
  overflow-x: hidden;
}
::-moz-selection {
  color: $white-color;
  background: $primary-color;
}

::selection {
  color: $white-color;
  background: $primary-color;
}

.text-icon {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.text-link {
  color: $primary-color;
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;
  &:hover {
    color: $accent-color;
    font-weight: 700;
  }
}

.cta-section {
  position: relative;
  z-index: 2;

  .cta-link {
    
    position: fixed;
    bottom: 5%;
    right: 5%;

    img {
      width: 50px;
      transition: transform ease-out .2s;
    }
    &:hover {
      img {
          transform: scale(1.2);
      }
    }
  } 
}