.projects {
    width: 100%;
    height: 100%;
    position: relative;

    .swiper-slide {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        position: relative;

        &:nth-child(2n) {
            flex-direction: row-reverse;

            @media (max-width: 759px) {
                flex-direction: column-reverse;
            }
        }
        
        @media (max-width: 759px) {
            flex-direction: column-reverse;
        }

        .content {
            .project-number {
                font-size: 3rem;
                font-weight: 700;
                font-family: 'Western Cowboys';
                margin-bottom: 0;
            }

            .project-name {
                a {
                    text-decoration: none;
                    color: $white-color;
                }
            }

            .project-description {
                font-size: 0.8rem;
            }

            .project-langages {
                font-size: 1rem;
                font-weight: 700;
                color: $accent-color;
            }

            hr {
                width: 50%;
            }

            a {
                margin-right: 10px;
        
                img {
                    width: 30px;
                    transition: transform ease-out .2s;
                }
                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }

        }

        img {
            display: block;
            width: 50%;
            object-fit: cover;
            border-radius: 3px;
            cursor: pointer;

            @media (max-width: 759px) {
                width: 100%;
            }
        }
    }
    

    .autoplay-progress {
        position: absolute;
        right: 3%;
        top: 3%;
        z-index: 2;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: $white-color;

        svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: $white-color;
            fill: none;
            stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
        }
    }
}