.service {
    .service-text {
        max-width: 100%;
        margin: 0px auto 2rem auto;
    }
    .service-title {
        margin-bottom: 2rem;
    }
    .service-items {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media(max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        @media(max-width: 540px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }

        .service-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-decoration: none;
            color: $white-color;

            .service-img {
                border-radius: 5px 5px 0 0;
                width: 100%;
            }

            h4 {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}