$primary-color: #000000;
$secondary-color: #f3ff8e;
$accent-color: #7bd377;
$text-color: #000000;
$gray-color: #7d7d7d;
$pink-color: #F6F6F7;
$white-color: #FFFFFF;
$dark-color: #212529;
$wine-color: #db3333;